# Python cache
__pycache__/
*.pyc

# MacOS
.DS_Store

# Virtual env
.venv/

# Node modules
node_modules/

# Environment
.env

# ML model weights
backend/models/*.pth
backend/models/*.pt
!backend/models/vit_small_emotion.pth
!backend/models/vit_small_emotion_int8.pt

# Reports
reports/
*.jpeg
.env
